.slider .thumb {
	-fx-background-color: #00FFD1;
	-fx-background-radius: 0;
	-fx-pref-width: 7px;
}
.timeSlider .track
{
	-fx-background-color: white;
	-fx-background-radius: 0;	

}
.timeSlider
{
	-fx-background-color:none;
}
.volumeSlider .track
{
	-fx-background-color: #00FFD1;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-pref-height: 2px;
}
