@font-face
{
	font-family: 'Poppins Black';
	src: url('Poppins-Black.ttf');
}
.root{
-fx-font-family: "Poppins Black";}

.slider .thumb {
	-fx-background-color: #00FFD1;
	-fx-background-radius: 100%;
}
.timeSlider .track
{
	-fx-background-color: null;
	-fx-background-radius: 0;

}

.scroll-bar {
    -fx-background-color: #333; /* Dark background color for the scrollbar */
}

.scroll-bar .thumb {
    -fx-background-color: #555; /* Dark thumb color for the scrollbar */
}

.scroll-bar:hover .thumb {
    -fx-background-color: #777; /* Dark thumb color when hovered over */
}

.scroll-bar:pressed .thumb {
    -fx-background-color: #00ffd1; /* Dark thumb color when pressed */
}
.timeSlider
{
	-fx-background-color:none;
}
.volumeSlider .track
{
	-fx-background-color: #00FFD1;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-pref-height: 2px;
}
.editSubTextArea
{
	-fx-text-fill: white;
	-fx-font-alignment: center;
}
.editSubTextArea .text
{
	-fx-font-alignment: center;
	-fx-font-family: "Poppins";
}
.editSubTextArea .content
{
	-fx-background-color: #1E1E1E;
	-fx-text-fill: white;
}
.timeProgressBar .bar
{
	-fx-background-insets: 0;
	-fx-background-color: #00FFD1;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
}